/node_modules
/public/hot
/storage/*.key
vendor/barryvdh
vendor/laravel
vendor/beyondcode
vendor/bin
vendor/composer
vendor/darkghosthunter
vendor/defuse
vendor/deployer
vendor/doctrine
vendor/dompdf
vendor/dragonmantank
vendor/egulias
vendor/facade
vendor/fideloper
vendor/filp
vendor/firebase
vendor/fzaninotto
vendor/hamcrest
vendor/illuminate
vendor/laminas
vendor/laravel
vendor/lcobucci
vendor/league
vendor/list.text
vendor/maximebf
vendor/mockery
vendor/monolog
vendor/myclabs
vendor/nesbot
vendor/nunomaduro
vendor/nyholm
vendor/opis
vendor/paragonie
vendor/phar-io
vendor/phenx
vendor/php-http
vendor/php-parallel-lint
vendor/php-webdriver
vendor/phpdocumentor
vendor/phpoption
vendor/phpseclib
vendor/phpspec
vendor/phpunit
vendor/pimple
vendor/psr
vendor/ramsey
vendor/rebing
vendor/sabberworm
vendor/scrivo
vendor/sebastian
vendor/swiftmailer
vendor/symfony
vendor/theseer
vendor/tijsverkoyen
vendor/vlucas
vendor/webmozart
vendor/webonyx
vendor/autoload.php
/modules/avored/stripe
/modules/avored/pos
/modules/avored/heroproduct
.env
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/packages
/storage/debugbar
Dockerfile
docker-compose.yml
/Docker
docker-command.md
public/avored-admin
public/mix-manifest.json
/vue
